{% load static %}

<a href="/alumnos/create">Add</a>
<table border='1'>
    <thead class="thead">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Telefono</th>
            <th>Action</th>
        </tr>
    </thead>
    {% for i in alumnos %}
    <tr>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td><a href="{% url 'alumnosedit' id=i.0 %}">Edit</a> | <a href="{% url 'alumnosdelete' id=i.0 %}">Delete</a> </td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript">
    function delMsg() {
        if (confirm("Are you sure about deleting record?")) {
            alert('1 row deleted.');
            return true;
        }
        else
            return false;
    }
</script>